/tests/data/**/output/
/bin/Linux/Tests/**/output/
/bin/Linux/Tests/**/output_directory/

.DS_Store
*.swp
*.swo
 
# Ignore DS lookup tables (moved out of repo)
/bin/Linux/DS_[0-7]
/bin/Linux/DS_tables/DS_[0-7]

# Ignore simulator logs
/bin/Linux/logs/